nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

.my-button {
  padding: 10px 12px;
  border: 1px solid aqua;
  color: aqua;
  background-color: blue;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 0 2px 2px 0;
}

.my-button:hover {
  margin: 2px 0 0 2px;
  color: orange;
  background: orange;
}

input {
  padding: 4px;
  font-size: 1.5em;
  font-family: 'Arial', sans-serif;
  color: blue;
  background-color: orange;
}